html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

*{
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

#mapid
{
    height: 100%;
    width: 100%;
    border-radius: 25%;
    background: #A9CFDB;
}

#blocker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.leaflet-top.leaflet-left{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#in {
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;
    line-height: 300%;
}

#move{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


.leaflet-bar a, .leaflet-bar a:hover{
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100%;
    height: 50%;
    line-height: 300%;
    font-size: 50pt;
    text-align: center;
    text-decoration: none;
    color: black;
}

#out{
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;
    line-height: 300%;
}

#controls{
    border-top: 2px solid rgba(127, 127, 127, 0.5);
    border-left: 2px solid rgba(127, 127, 127, 0.5);
    border-right: 2px solid rgba(127, 127, 127, 0.5);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
    max-height: 40%;
    font-size: 14pt;
    display: flex;
    flex-direction: column;
    font-family: "Courier New", monospace;
    background: rgba(169, 169, 169, 0.9);
}

#controlsContainer{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.cat{
    display: flex;
    flex-direction: column;
    text-align: right;
}
.cat>div{
    display: flex;
    flex-direction: row;
    text-align: right;
}

.catDesc{
    margin:0;
    background: rgba(96, 96, 96, 0.5);
    border-bottom: 1px crimson solid;
    padding: 3px;
}

.bindInput{
    visibility: visible;
    font-size: 12pt;
}

.hideInput{
    visibility: hidden;
    background: none;
    max-height: 0;
}

#controlsContainer>div>div:nth-child(odd){
    background: rgba(255, 255, 255, 0.3);
}

#controlsContainer>div>div:nth-child(even){
    background: rgba(127, 127, 127, 0.3);
}

#controlsContainer>div>div{
    padding: 0 5px 0 5px;
}

#controlsContainer>div>div>label{
    flex:1;
    padding-right: 5px;
    align-self: center;
}

#controlsContainer>div>div>input{
    pointer-events: auto;
    text-align: center;
    width: 25px;
    z-index: 1;
    font-family: "Courier New", monospace;
    max-height: 20px;
    align-self: center;
}

#controlsContainer>div:hover{
    background: rgba(0, 0, 255, 0.2);
}

#controlsContainer>div>div:hover{
    background: rgba(255, 0, 0, 0.2);
}

#log{
    max-height: 0;
    font-size: 12pt;
    background: rgba(255, 255, 255, 0.5);
    transition: background 1s, visibility 0.1s, opacity 0.1s, max-height 0.1s linear;
    text-align: left;
    color: #bf143d;
    top: 0;
    position: static;
}

#log>p{
    margin: 0;
    padding: 0;
}
